<div class="container">
    <div class="card">
        <div class="d-flex justify-content-between">
            <div class="welcome_info">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure aperiam dolorem qui asperiores est architecto ducimus, consectetur sed atque facilis.</div>

            <p class="p-3">welcome user ()</p>
        </div>
        <ul>
            <li>There are total 10 questions </li>
            <li>Each question will get 10 marks</li>
            <li>Time is 30 min</li>
        </ul>
    </div>
    <div class="loginBox d-flex justify-content-center">

        <div class="card p-4 m-4">
            <label for="">Username</label>
            <input type="text" class="form-control">
            <button class="btn btn-info mt-3 " routerLink="/question">questions</button>

        </div>
    </div>

</div>
